TarjetaCliente/src/conf/xml-resources/web-service-references/Tarjeta/wsdl/localhost_8080/TarjetaServer/Tarjeta.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://tarjeta.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://tarjeta.ws/">

<xs:element name="esFechaValida" type="tns:esFechaValida"/>

<xs:element name="esFechaValidaResponse" type="tns:esFechaValidaResponse"/>

<xs:element name="validarCVV" type="tns:validarCVV"/>

<xs:element name="validarCVVResponse" type="tns:validarCVVResponse"/>

<xs:element name="validarLongitudDigitos" type="tns:validarLongitudDigitos"/>

<xs:element name="validarLongitudDigitosResponse" type="tns:validarLongitudDigitosResponse"/>

<xs:element name="validarTarjeta" type="tns:validarTarjeta"/>

<xs:element name="validarTarjetaResponse" type="tns:validarTarjetaResponse"/>

<xs:element name="validarTipoTar" type="tns:validarTipoTar"/>

<xs:element name="validarTipoTarResponse" type="tns:validarTipoTarResponse"/>

<xs:complexType name="validarCVV">
<xs:sequence>
<xs:element name="cvv" type="xs:string" minOccurs="0"/>
<xs:element name="tipoTarjeta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarCVVResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarTarjeta">
<xs:sequence>
<xs:element name="tarjeta" type="xs:string" minOccurs="0"/>
<xs:element name="cvv" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarTarjetaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="esFechaValida">
<xs:sequence>
<xs:element name="fechaExp" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="esFechaValidaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarTipoTar">
<xs:sequence>
<xs:element name="digitos" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarTipoTarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarLongitudDigitos">
<xs:sequence>
<xs:element name="digitos" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarLongitudDigitosResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>