TarjetaCliente/src/conf/xml-resources/web-service-references/Tarjeta/wsdl/localhost_8080/TarjetaServer/Tarjeta.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tarjeta.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tarjeta.ws/" name="Tarjeta">
<types>
<xsd:schema>
<xsd:import namespace="http://tarjeta.ws/" schemaLocation="http://localhost:8080/TarjetaServer/Tarjeta?xsd=1"/>
</xsd:schema>
</types>
<message name="validarTipoTar">
<part name="parameters" element="tns:validarTipoTar"/>
</message>
<message name="validarTipoTarResponse">
<part name="parameters" element="tns:validarTipoTarResponse"/>
</message>
<message name="validarLongitudDigitos">
<part name="parameters" element="tns:validarLongitudDigitos"/>
</message>
<message name="validarLongitudDigitosResponse">
<part name="parameters" element="tns:validarLongitudDigitosResponse"/>
</message>
<message name="validarTarjeta">
<part name="parameters" element="tns:validarTarjeta"/>
</message>
<message name="validarTarjetaResponse">
<part name="parameters" element="tns:validarTarjetaResponse"/>
</message>
<message name="validarCVV">
<part name="parameters" element="tns:validarCVV"/>
</message>
<message name="validarCVVResponse">
<part name="parameters" element="tns:validarCVVResponse"/>
</message>
<message name="esFechaValida">
<part name="parameters" element="tns:esFechaValida"/>
</message>
<message name="esFechaValidaResponse">
<part name="parameters" element="tns:esFechaValidaResponse"/>
</message>
<portType name="TarjetaWS">
<operation name="validarTipoTar">
<input wsam:Action="http://tarjeta.ws/TarjetaWS/validarTipoTarRequest" message="tns:validarTipoTar"/>
<output wsam:Action="http://tarjeta.ws/TarjetaWS/validarTipoTarResponse" message="tns:validarTipoTarResponse"/>
</operation>
<operation name="validarLongitudDigitos">
<input wsam:Action="http://tarjeta.ws/TarjetaWS/validarLongitudDigitosRequest" message="tns:validarLongitudDigitos"/>
<output wsam:Action="http://tarjeta.ws/TarjetaWS/validarLongitudDigitosResponse" message="tns:validarLongitudDigitosResponse"/>
</operation>
<operation name="validarTarjeta">
<input wsam:Action="http://tarjeta.ws/TarjetaWS/validarTarjetaRequest" message="tns:validarTarjeta"/>
<output wsam:Action="http://tarjeta.ws/TarjetaWS/validarTarjetaResponse" message="tns:validarTarjetaResponse"/>
</operation>
<operation name="validarCVV">
<input wsam:Action="http://tarjeta.ws/TarjetaWS/validarCVVRequest" message="tns:validarCVV"/>
<output wsam:Action="http://tarjeta.ws/TarjetaWS/validarCVVResponse" message="tns:validarCVVResponse"/>
</operation>
<operation name="esFechaValida">
<input wsam:Action="http://tarjeta.ws/TarjetaWS/esFechaValidaRequest" message="tns:esFechaValida"/>
<output wsam:Action="http://tarjeta.ws/TarjetaWS/esFechaValidaResponse" message="tns:esFechaValidaResponse"/>
</operation>
</portType>
<binding name="TarjetaWSPortBinding" type="tns:TarjetaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="validarTipoTar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarLongitudDigitos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarTarjeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarCVV">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="esFechaValida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Tarjeta">
<port name="TarjetaWSPort" binding="tns:TarjetaWSPortBinding">
<soap:address location="http://localhost:8080/TarjetaServer/Tarjeta"/>
</port>
</service>
</definitions>